@using Microsoft.AspNet.Identity
@using WebApplication2.Models

<link href="~/Content/Style.css" rel="stylesheet" />

@*<div class="bg-body align-content-xxl-between" style="margin-top:150px;margin-left:800px">*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav" id="logoutwelcome">
            <li>
                @Html.ActionLink("WELCOME  ,  " + User.Identity.GetUserName(), "Userinfo", "Home")

            </li>
            <li>
                <a href="javascript:document.getElementById('logoff').submit()">
                      Log Out
                </a>
            </li>
        </ul>

    }
}

else
{
    <ul class="nav navbar-nav nav-justified" id="loginnavbar">

        <li class="nav-item">
            <a class="nav-link" href="/Account/Register">
                Register<img src="https://img.icons8.com/dotty/35/null/add-user-male.png" />

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Account/Login">Login <img src="https://img.icons8.com/wired/35/000000/login-rounded-right.png" /></a>
        </li>
    </ul>
}


